[2018-04-06 20:27] EternalUF commented on #324
Wooooo!

[2018-04-06 20:27] #324 closed

[2018-04-06 20:28] bls1999 commented on #358
@Jmarroqu it's automatic, so I can't manually add/delete maps.

[2018-04-06 21:26] ShakeJunt01 commented on #364
gewild

[2018-04-06 23:40] ShakeJunt01 opened #369 "Old ATB"
I don't know what happened but I'd kinda like if we could get the old ATB back, those levels are classics that I've been playing since I was a kiddo and I'm not the only one, sure not alot of people still plays them but just having them staying there feels great.

[2018-04-06 23:52] EternalUF commented on #369
#358

[2018-04-06 23:59] Relokos commented on #364
@BrokenBulb78 I ain't lying, you're not a mod or anything like that so you wouldn't know.

[2018-04-07 00:36] famelegend1 commented on #364
you ain't lying, just like you never scammed, ey?

[2018-04-07 00:43] bls1999 commented on #364
Says the guy who ban evades, tries to view a guild on PR2, posts that he got "Error #2032" on pop-up, realizes he messed up, lies about not getting it on pop-up, and then proceeds to get roasted.  Only you, @Relokos.

Some resources:
 - https://stackoverflow.com/questions/6507461/error-2032-stream-error
 - https://owl.english.purdue.edu/owl/resource/659/03/ (see: red herring)

[2018-04-07 06:37] woodenstix commented on #364
who cares if u b/e, everyone does it. get over it bls

[2018-04-07 06:38] bls1999 opened #370 "One more column"
@jacob-grahn Can you add `awarder_ip` to `contest_winners`? `varchar(100)` should suffice. This is it, I promise!

[2018-04-07 07:27] aaaaaa123456789 commented on #363
All of the pulls mentioned are merged and you can safely delete them from the list.

[2018-04-07 19:05] Relokos commented on #370
bls can i talk to you regarding an issue, ofc nothing to do with me. do you have an email where i can contact you

[2018-04-07 19:27] bls1999 commented on #370
My email is bls1999@jiggmin2.com. Please keep issues on github on-topic.

[2018-04-07 23:23] BrokenBulb78 opened #372 "Issue with spectator mode"
It's just me or has anyone noticed that? When I'm on a level, the players are running smooth, but when I click quit and enter the spectator mode, the players are lagging too much and they're teleporting every 1 second. @jacob-grahn

[2018-04-08 04:46] Jmarroqu opened #375 "Artifact Exploit"
This person who will remain unnamed since they told me to. This person said that they were abusing the Artifact Exploit where you can get 50,000 exp per 10 second and Bls1999 knew about it.

50,000 exp / 10 sec x6(to get per min)= 300,000 exp per min
300,000 exp per min x60(mins)= 18,000,000 exp per hour
18,000,000 exp per hour x24(hours)= 432,000,000 exp per day.

I don't see why didn't Bls1999 b

[2018-04-08 04:47] bls1999 commented on #375
@EternalUF spoke with @jacob-grahn following the aftermath of the artifact exploit being patched, and Jiggmin specified not to ban.

[2018-04-08 04:48] Jmarroqu commented on #375
@jacob-grahn Why are you having a double standard of "Exploiting" into your game when it makes no difference

[2018-04-08 05:31] Jmarroqu commented on #372
Ever since Jiggmin said when you're able to quit and see the other players "play" but clicking the map and a spot you wanna see that also doesn't work :/

[2018-04-08 05:47] bls1999 commented on #372
The other players' positions are updated in real-time when you're right next to them in the level, but when you're far away, they update at 1-second intervals.  When you forfeit in a level, your character fades out but doesn't go away; it actually stays in the same place as an invisible sprite (as seen [here](https://youtu.be/zJIrUBamLEs)).  Since your character stays there and the game thinks you

[2018-04-08 06:10] Relokos commented on #375
I kinda do agree with @Jmarroqu

[2018-04-08 20:52] FirefightPR2 opened #379 "Lol"
It is possible to access accounts just with the email. Good luck fixing it.

[2018-04-08 20:54] Stxtics commented on #379
Remove all accounts emails ez fix

[2018-04-08 20:57] famelegend1 commented on #379
![](https://cdn.discordapp.com/attachments/425056288448446464/427631796314832896/ARETA.jpg)

Pretty much everyone smart knows you wrote on the wrong account

[2018-04-08 21:06] BrokenBulb78 commented on #372
Oh I see @bls1999

[2018-04-09 02:09] ShakeJunt01 commented on #379
I'm honestly scared because I've been getting email changes on $hake Junt and I didn't tell anyone my pass @BrokenBulb78 @bls1999

[2018-04-09 03:17] famelegend1 opened #381 "Comment out forgot password query ?"
for now, maybe it's best to do this due to the vulnerability. we can re-enable it when it is fixed / more secure. i believe it has to do with encryption of message, but who knows at this point.

[2018-04-09 04:45] woodenstix commented on #375
@Jmarroqu use a bot >ban
get far more exp than botting >no ban

[2018-04-09 05:47] bls1999 commented on #381
@jacob-grahn it might be better to throw an exception at the beginning of the try block or to simply add `die();` at the beginning of the script.  I imagine `account_change_email.php` is also affected.

[2018-04-09 08:14] famelegend1 commented on #381
agreed with bls. probably best to do that for now. he knows pr2 code more than I do anyway.

[2018-04-09 18:44] RealShadowZ commented on #381
Lmfao good luck

[2018-04-10 05:39] bls1999 commented on #381
@RealShadowZ @FirefightPR2

I'm still not convinced you have an exploit at all.  I'm going to give you the perfect opportunity to prove your elite hacking skills.  I've set up an account by the name of `SZR, Steal Me!!!`.  The email on that account is `bls1999@jiggmin2.com`.  If you want to prove to everyone that you're a force to be reckoned with, put your skills on display and hack that account.

[2018-04-10 16:07] #356 closed

[2018-04-10 16:09] #364 closed

[2018-04-10 16:10] #375 closed

[2018-04-10 16:11] #379 closed

[2018-04-10 17:03] jacob-grahn commented on #370
Done!

[2018-04-10 17:03] #370 closed

[2018-04-10 17:05] bls1999 commented on #370
Thank you!  Hopefully everything works as intended. 🙏🏻

[2018-04-10 18:11] EternalPR2 opened #387 "IP Admin Search"
The Admin IP search tool crashes everything..... Sorry..........

[2018-04-10 18:12] bls1999 commented on #387
LOL, that's what's wrong! :joy:

[2018-04-10 18:31] bls1999 opened #388 "Custom Error Pages"
https://www.digitalocean.com/community/tutorials/how-to-configure-nginx-to-use-custom-error-pages-on-ubuntu-14-04

I think it would be cool if we could make error pages that don't make the client throw error #2032.

[2018-04-10 22:16] bls1999 commented on #372
Upon further inspection, I think it's very possible that the code could be modified to lock the player to the camera after forfeiting.  That being said, I have no idea how that would be done.  @jacob-grahn?

[2018-04-11 00:59] bls1999 commented on #381
@RealShadowZ @FirefightPR2

I made it a little more enticing.  The account now has all parts (including the artifact, reindeer/crocodile/invisible/Fred).  Hack the account and you get to keep it.

![screen shot 2018-04-10 at 8 56 54 pm](https://user-images.githubusercontent.com/5680237/38590899-086316fa-3d02-11e8-8f35-aee890ef2938.png)

[2018-04-11 11:44] jacob-grahn commented on #310
Are the awards working now?

[2018-04-11 11:50] EternalUF commented on #310
I believe so, I’ve been hearing people are getting parts/tokens. I’ll keep you updated if something changes, thank you so much, @jacob-grahn!

[2018-04-11 11:50] #310 closed

[2018-04-11 14:57] EternalUF opened #393 "URGENT FIX"
Typing in-game race chat crashes the server :/

[2018-04-11 14:58] BrokenBulb78 commented on #393
Ahha, that's why I couldn't chat in levels yesterday

[2018-04-11 15:40] woodenstix commented on #393
how about you call some people cancer again man
you know what im talking about

[2018-04-11 15:42] woodenstix commented on #387
i wonder how long until my ip gets leaked

[2018-04-11 15:43] BrokenBulb78 commented on #393
https://cdn.discordapp.com/attachments/249678944956055562/433649173418737664/backtick.webm
It looks like the server crashes when you type `chat``.

[2018-04-11 20:14] bls1999 commented on #393
@EternalUF @jacob-grahn #395

[2018-04-11 20:32] bls1999 opened #396 "Changes to contest_winners"
I noticed that our databases are out of sync with each other on the table `contest_winners`. Please make the changes listed below to make the scripts I made work:

[code]
I'm thinking you could probably even just drop the table and then create it again from this script, since there are currently no entries in the table.  Once that's done, everything _should_ work as intended.

Thanks! :)

[2018-04-12 01:36] Relokos commented on #381
Too bad, I hacked it first.
![image](https://user-images.githubusercontent.com/37349635/38651648-fc9b7350-3dc7-11e8-8c35-0e3ff7b9f51f.png)

[2018-04-12 01:43] bls1999 commented on #387
@jacob-grahn could you send me the error log for `ip_deep_search.php`?  I'm hoping to get to the bottom of why this being so weird.

[2018-04-12 17:54] #381 closed

[2018-04-12 19:45] EternalUF commented on #393
Woo!

[2018-04-12 19:45] #393 closed

[2018-04-13 06:48] bls1999 opened #402 "Bugs existing post-Lint"
@jacob-grahn The lint branch looks great!  I have just a few things I want to point out.  Some of these are existing bugs that I never got around to reporting.

1. Lint removed these crucial global calls inside functions:
 - [Line 106](https://github.com/jacob-grahn/platform-racing-2-server/compare/lint#diff-d9e7b5ed4b6e7ec7d851d4d6f499001fL106) in `http_server/www/admin/contests/add_prize.php`
 -

[2018-04-13 06:49] LP-PR2 commented on #402
Yes

[2018-04-13 06:53] bls1999 commented on #402
@LP-PR2 1:01 https://www.youtube.com/watch?v=dFre0ncUY64&feature=youtu.be&t=1m1s

[2018-04-13 13:54] jacob-grahn commented on #402
1. My bad, the linter thought the variables were unused. My general goal is to get the linter to stop complaining about things, so we'll probably need set up a switch statement or something.

2. Both the multiplayer_server and the policy_server will use the code from vend/server. A common standard is to store code written by other people/companies in a vendor folder, and the vendor folder shouldn'

[2018-04-13 22:12] bls1999 commented on #250
@jacob-grahn I think I'm going to take a look at the client code to try to crack this problem.  Any ideas on what I should search for?  I looked for `kongApi` and got a lot of stats submissions for the high scores page.

[2018-04-13 22:36] bls1999 commented on #250
In what I assume was formerly the script that handles logins, I found this code:
[code]

If I may, I'd like to draw your attention to these two if statements:

[code]

[code]

One thing to note is that `this.socket` = `Main.socket`.

A few theories I have:
 - `` guest_login` `` is being interpreted by the server as a switch to turn off badges (which is odd, because I can't figure out what part of

[2018-04-16 19:00] jacob-grahn commented on #396
Done!

[2018-04-16 19:00] #396 closed

[2018-04-17 01:46] bls1999 opened #408 "Depreciated tables/database changes"
The following tables in the database no longer have any use:

 - `bounce` - was used to store Volly-Bounce data
 - `failed_captchas` - was used to store failed cat captchas
 - `lux_today` - used to track lux gain
 - `lux_total` - used to track lux gain
 - `promotion_log` - while it's actively added to, we have the admin log which records the same thing. You can decide if you think this is still ne

[2018-04-17 17:39] jacob-grahn commented on #260
I'm not quite sure how to set up Travis to run two different builds. As a slightly lazier solution, the build now runs two scripts. Once checks for style, and the other checks for syntax errors and unused variables. There are other checks that we can add, but for now I'm going to bask in the sweet green glow of pr2's first passing build.

[2018-04-17 17:39] #260 closed

[2018-04-17 17:51] jacob-grahn opened #409 "Templocalypse"
First came the PDOcalypse
Then came the Lintocalypse

Now it's time to bring in the Templocalypse! The goal will be to separate pr2's logic (php) from presentation (html)

Most template engines will also automatically escape data, so there's a security perk on top of cleaning up some tangled code.

The only template engnine I've used with php is [Plates](http://platesphp.com/). If anyone has a pre

[2018-04-17 17:55] jacob-grahn commented on #402
I just merged the lint branch into master. There may still be bugs! If there are, open some new tickets to track them.

[2018-04-17 17:55] #402 closed

[2018-04-17 17:59] jacob-grahn commented on #387
I looks like one of the queries takes a few hours to run, and that creates an ever growing backlog of requests that eventually overloads the server.

[2018-04-17 18:05] jacob-grahn commented on #408
Thanks for weeding through all of the tables. That's quite a chore :open_mouth:

[2018-04-17 18:09] jacob-grahn commented on #388
Good old `#2032` has been around for _so long_ that I feel kind of attached to it :stuck_out_tongue_winking_eye:

Some kind of message like `The web page could not load` would probably be more useful, though.

[2018-04-18 04:07] bls1999 opened #414 "[Game-Breaking] SSL Certificate"
When attempting to connect to any URL served via pr2hub.com, using https will throw a `NET::ERR_CERT_DATE_INVALID`.  Upon further inspection, it looks like PR2hub's SSL certificate expired `Tuesday, April 17, 2018 at 9:55:36 PM Eastern`.  This is a huge issue, as links in the PR2 client are served via https.

[2018-04-18 15:50] Stxtics opened #416 "Logging out does not work correctly"
This might be fixed now because of #413 as it may have been caused by #399 . But basically when you logout your account stays online in the online list even though you are not on it. If you try to login again it will say you were already logged in, then after that you can log back in. This is probably fixed now but I'm posting this just in case.

[2018-04-18 15:56] EternalUF commented on #416
I still have this issue

[2018-04-18 17:33] woodenstix commented on #416
how do you fuck up this badly

[2018-04-18 18:53] bls1999 commented on #416
I think it has to do with lint @jacob-grahn

[2018-04-18 18:55] woodenstix commented on #416
faggot scum stop deleting my messages

[2018-04-18 18:56] bls1999 commented on #414
Fixed!

[2018-04-18 18:56] #414 closed

[2018-04-18 20:08] bls1999 commented on #416
@woodenstix your words are disgusting and uncalled for. You should be ashamed of the way you're treating others.

[2018-04-19 02:02] ShakeJunt01 opened #419 "4th token"
So I heard f@h was fixed but it sadly seems like I didn't receive my 4th token anyway.

![image](https://user-images.githubusercontent.com/37563497/38967212-0750397a-4354-11e8-8573-cfae425cc5d7.png)
![image](https://user-images.githubusercontent.com/37563497/38967235-1c64ef36-4354-11e8-932d-89b4b3519c65.png)

[2018-04-19 14:52] EternalUF commented on #419
I got my 5th :shrug:

[2018-04-19 14:54] Stxtics commented on #419
How long ago did you get 1 mil points, you might just need to wait longer.

[2018-04-19 16:17] ShakeJunt01 commented on #419
@Stxtics a month

[2018-04-19 22:55] bls1999 opened #425 "Admins' server restarts"
For some reason, it seems that any server after Morgana on the list (Andres, Isabel, Tournament, Fred, untested on Gods of Glory) is unable to be restarted using the `/restart_server` chat command for admins.

[2018-04-20 02:47] Jmarroqu commented on #425
I will let AlphaZ know to know if that works in GOG

[2018-04-20 08:02] LP-PR2 commented on #372
Great idea @bls1999.. let's just screw over every contest that relies on a spectating feature because it's a little laggy.

[2018-04-20 12:46] jacob-grahn commented on #408
Table alterations complete!

[2018-04-20 12:46] #408 closed

[2018-04-20 13:15] jacob-grahn commented on #419
The prizes can't be awarded when an account is logged in. The prize script has been running once a day, but if you happen to always be online at that time of day then you're out of luck. I changed it to run once per hour, so it should have a better shot of finding accounts when they're offline.

[2018-04-20 13:25] Stxtics opened #426 "Errors"
Everything gives Error #2032

[2018-04-20 13:53] #426 closed

[2018-04-20 15:36] Stxtics commented on #416
Fixed!

[2018-04-20 15:36] #416 closed

[2018-04-21 16:02] Stxtics commented on #419
My account Stxtics got 1 million points today and I stayed offline for a bit over 2 hours and received my 4th. @ShakeJunt01 said he folded when f@h rewards were broken so I think the game thinks he has his  4th token when actually he doesn't.

[2018-04-21 16:53] ShakeJunt01 commented on #419
Yeah I haven't really logged in on my account for more than a day and I still have nothing

[2018-04-21 22:25] bls1999 commented on #419
@jacob-grahn I'm going to modify my pull to check continuity between the rank_tokens and folding_at_home tables.  I figure the issue might be due to a prize being marked as awarded in the folding_at_home table but not actually awarded in the rank_tokens or pr2 tables.

[2018-04-22 01:12] Rebuked commented on #419
Hey Jacob, XeNo Here. I have also not recieved my 5Th token on Chaurus Reaper.
![ch](https://user-images.githubusercontent.com/38596762/39090272-f6b82436-45da-11e8-81be-e20caadf676a.png)
![chh](https://user-images.githubusercontent.com/38596762/39090273-02224eb4-45db-11e8-9b67-e4e9d7ba2441.png)

[2018-04-22 03:38] EternalUF commented on #419
As you can see the results are pretty mixed.. 🤷‍♂️ @jacob-grahn

[2018-04-22 08:41] bls1999 opened #428 "FAH Database"
So I've been editing the `fah_award_prize_fns.php` script for the past few hours and came to the realization... is the FAH database even needed?  As far as I know, all it has is `stats` and `team`.  This data can easily be retrieved from the FAH server each time instead of being stored in a database and being updated every time the cron job runs.

Right now the process is:
 - Get FAH data from Sta

[2018-04-22 10:03] Stxtics commented on #419
Ok I think I know the reason, like I said in a previous post my account Stxtics got 4th token in just over 2 hours. At 5am BST (probably a bit before) my account Doomster Jr got 10 million points, I just logged on it at 11 am BST so 6 hours later and I do not have my 5th token. See the pattern? Eternal also got 5th recently. He doesn't have a space in his name, neither does Stxtics. $shake Junt, C

[2018-04-22 10:05] bls1999 commented on #419
@Stxtics I really hope this is not as simple as the underscore replacement being faulty. I've been completely rewriting `fah_award_prize_fns.php` for 6 hours.

[2018-04-22 10:09] Stxtics commented on #419
Yeah I hope it isn't too long but it seems like this could be why, my account Suppression will be getting folded soon once Stxtics gets 5th so if Stxtics receives the 5th token and Suppression gets a PM about the 4th token which it probably will due to the name change (it already has 4th) then this must be the reason fah is faulty.

[2018-04-22 10:11] bls1999 commented on #419
@Stxtics I just looked at the blame for `fah_award_prize.php` and it looks like that line hasn't been edited in the entire time the http_server has been on github.

[2018-04-22 11:30] bls1999 commented on #419
Update: I guess it's been broken for the whole time it's been on GitHub.  I just fixed it in #420.

[2018-04-22 11:45] Rebuked commented on #419
@bls1999 It's fixed?

[2018-04-22 11:46] joseph12311 opened #429 "Do this"
Can you make it so in the credits if you press jiggmin it brings you to jiggmin2.com instead of jiggmin.com.

not a issue but can you do it

[2018-04-22 11:47] bls1999 commented on #429
That requires a client edit. :(

[2018-04-22 11:49] joseph12311 commented on #429
oh :(

[2018-04-22 11:53] bls1999 commented on #419
@Rebuked when @jacob-grahn merges #420, it will be fixed.

[2018-04-22 13:32] Stxtics opened #431 "GP Today"
GP Today doesn't reset everyday, I've had 6 GP today for 3 days now. I'm guessing this is because the servers only restart weekly now but its called GP Today not GP this Week ;)

[2018-04-22 13:50] joseph12311 opened #432 "fix user_new and also user_select_expanded"
when you try and create a new account on pr2 it said could not insert new user into new_user

Yup

and when you invite somebody to a guild it sais user_select_expanded

[2018-04-22 13:50] #429 closed

[2018-04-22 14:33] Rebuked commented on #419
@bls1999 Alright :)

[2018-04-22 18:34] famelegend1 commented on #431
don't think it has to do with server reset. before the gp reset slightly before the server restarted (by about 2 hours OTOH)

[2018-04-22 23:40] bls1999 commented on #432
#434 will fix this.

[2018-04-23 00:04] bls1999 commented on #431
I know why this is happening; I'll fix it.

[2018-04-23 05:24] bls1999 opened #435 "ensure_awards.php cron job"
How often does the `ensure_awards.php` cron job run?

[2018-04-24 07:39] bls1999 commented on #435
Nvm. #438

[2018-04-24 07:39] #435 closed

[2018-04-24 07:43] bls1999 commented on #425
This... seems to be fixed.

[2018-04-24 07:43] #425 closed

[2018-04-24 07:44] bls1999 commented on #388
@jacob-grahn would the game always pop up a message if the return data was `message=` or `{"message":"blah"}`, or does it matter which script sends what data?

[2018-04-24 07:46] bls1999 commented on #387
Oh, joy. I'm thinking that the db just can't handle the request?  I know there are a TON of rows in `recent_logins`, as they've been there literally since about June 1, 2013. These are extremely useful to us in verifying account ownership, so obviously clearing out that table would do more harm than good.

Anyone have any ideas? @jacob-grahn @aaaaaa123456789?

[2018-04-24 07:51] bls1999 commented on #357
@jacob-grahn I went ahead and added The Golden Compass' level ID to `Game.php` in a previous commit.  I think it's safe to delete it from the pr2-campaign table.

[2018-04-24 08:00] bls1999 commented on #363
Updated @jacob-grahn

[2018-04-24 11:47] aaaaaa123456789 commented on #387
Which query is causing the problem?

[2018-04-24 12:32] jacob-grahn commented on #387
We should probably delete recent_logins older than a month with a cron.

[2018-04-24 12:34] aaaaaa123456789 commented on #387
This sounds like a bad query plan to me (something doing a nested full table scan), which can probably be solved in a better way. That's why I asked about the query.

[2018-04-24 14:29] #431 closed

[2018-04-24 14:35] bls1999 commented on #387
@jacob-grahn we actively use the entries in recent_logins for account verification. Additionally, clearing out the table would defeat the purpose of the admin IP search.

@aaaaaa123456789 https://github.com/jacob-grahn/platform-racing-2-server/blob/master/http_server/queries/staff/admin/users_select_by_ip_expanded.php

[2018-04-24 20:19] Stxtics opened #439 "Name changes = lose tokens."
I think I remember seeing about something getting removed with f@h but I logged on my account Suppression today which had 4 tokens and now it only has 3. https://i.imgur.com/sKtnxte.png From that screenshots you can see I have 12 hats. I got PMs about getting +3 tokens as suppression only has 90k f@h. So I think the cause of this it removed my 4th token but not my cowboy weirdly.

EDIT: Also a lot

[2018-04-24 23:00] EternalUF opened #440 "VOM issues"
I've been hearing VOM is giving errors again, looks like buying rank tokens give the whole "there was an error while contacting the game server to finalize your order, blah blah"

[2018-04-24 23:04] EternalUF commented on #439
According to the updated admin tools, which bls just merged for FAH information, it appears Suppression has r1-r4, but like he said the available tokens on the account is three. Odd.

[2018-04-24 23:05] Rebuked commented on #440
https://youtu.be/rFm3fGUkj2I

Here's proof.

[2018-04-24 23:08] Rebuked commented on #439
[http://prntscr.com/j9pkd8]

Just got 5 messages from Jiggmin so F@H also works for account with history of Name Changes!

So this means @jacob-grahn  applied @bls1999 scripts.

[2018-04-24 23:28] bls1999 commented on #439
The reason people are getting PMs about stuff they've already had is because presumably Jiggmin truncated the stats table.  LMK if it continues.

[2018-04-24 23:50] bls1999 commented on #440
Kong actually says "blah blah???" Lol

But yeah, there's an error saying Kong can't contact PR2's servers to complete the transaction.

[2018-04-25 12:08] EternalUF commented on #440
All fixed, thank you @jacob-grahn!!

[2018-04-25 12:08] #440 closed

[2018-04-25 12:11] jacob-grahn commented on #432
@joseph12311 Are the issues fixed on your end?

[2018-04-25 12:16] EternalUF commented on #432
Creating new accounts is working fine now

[2018-04-25 12:30] bls1999 commented on #428
@jacob-grahn okay, I'll work on that.

[2018-04-25 12:46] bls1999 commented on #439
@Stxtics I just copied your account from PR2 to my localhost. It seems that with the next FAH update you'll get the 4th token. I'm not sure why it hasn't updated yet.

[2018-04-25 13:30] #432 closed

[2018-04-25 15:01] Stxtics commented on #439
Suppression is getting 5th anyway but does this mean I wouldn't of got my 4th back if it wasn't getting folded? I'm not sure if anyone else was affected by this but there could be a few accounts that were.

[2018-04-25 15:04] bls1999 commented on #439
@Stxtics `fah_award_prizes.php` doesn't remove any tokens.

[2018-04-25 15:08] Stxtics commented on #439
Weird, anyway I just logged on and I have my 4th again.

[2018-04-25 15:08] bls1999 commented on #439
yep, it looks like the stats just updated.

[2018-04-25 15:33] #439 closed

[2018-04-27 14:29] bls1999 commented on #428
Mission accomplished!

[2018-04-27 14:29] #428 closed

[2018-04-27 14:31] bls1999 commented on #320
I'm not sure if this is still a thing... gonna close. I'll reopen if it's still an issue.

[2018-04-27 14:31] #320 closed

[2018-04-27 14:49] bls1999 commented on #357
@jacob-grahn

[code]

[2018-04-27 14:52] bls1999 commented on #409
@jacob-grahn I'm concerned about people (including me) having to learn how to correctly write in the template engine's language.  I'm also concerned that Travis might create some false positives.

[2018-04-27 14:54] #419 closed

[2018-04-27 15:17] bls1999 opened #446 "Searching for course titles less than 3 characters"
It has never worked. With the change that allows us to use quotes to search for a phrase, would it be possible to allow 3-character search terms if enclosed in quotes?

For instance, I've been looking for a level I played once called "can not you see", and I can't find it because of the limit on 3-character searches.

[2018-04-27 23:20] ProPlayzBlitzCrank opened #447 "Directory for pr2hub"
Could we get a directory on pr2hub so its easy to find pages? Also for the leaderboards.php could we have another column with what place you are?
Example: Placement | User | Rank | Hats
.........................                     1    ..............      Hi .......       50  ......      13

[2018-04-28 00:05] bls1999 commented on #447
Yeah, I can work on both of those things.

[2018-04-28 08:16] bls1999 opened #448 "Cron schedule"
Obviously minute is scheduled every minute, but for the others:
 - For what minute of the hour is `hourly.php` scheduled?
 - For what time of day is `daily.php` scheduled?
 - For what day of the week and time of day is `weekly.php` scheduled?

And for all, in GMT?

[2018-04-29 13:50] Jmarroqu opened #451 "[F@H] Buggy still?"
when there was an attempt to fix the f@h the players who were affected were able to get the prizes but since knowing there was an issue the person who folded me stopped at 875 points. Now knowing about Chrome folding I've been folding that alt again and at the moment I went from 875 to about 22k but it has been two days since I got over 5k+ and I have only went on the account twice a day (Sat and

[2018-04-30 07:25] bls1999 commented on #387
@aaaaaa123456789

On `users`:
[code]

Nothing on `recent_logins`

[2018-04-30 08:03] aaaaaa123456789 commented on #387
You'll want to create an index on user_id for recent_logins.

On Mon, 30 Apr 2018 04:25 Ben, <notifications@github.com> wrote:

[2018-04-30 14:16] EternalUF opened #454 "FAH Issues"
It seems like PR2 isn't updating the FAH list like it should.. Suppression has 10mil points according to FAH stats page, but when I look him up in the Admin CP it says 5mil points. I see admins have an "fah update" button but when I click on it, it returns "file not found". I can back this up by saying I see quite a few other users with similar issues. I'm not sure if the list updates hourly or da

[2018-04-30 15:15] bls1999 commented on #454
@jacob-grahn can you run hourly from the command line and let me know if there are any fah-related errors?

[2018-05-01 05:01] bls1999 commented on #387
@aaaaaa123456789 sounds good, thanks. So @jacob-grahn, this:

[code]

[2018-05-01 06:43] bls1999 opened #458 "Socket Server: Things that aren't/might not be needed, suggested changes"
Things that don't seem to be used anywhere in the code:
 - `multiplayer_server/fns/data_fns.php`:
   - `function get($str, $default)`, Lines 4-12
   - `function find_variable($string, $default)`, Lines 16-27
   - `function remove_resource($_target)`, Lines 94-134
   - `function get_user_dir($user_id)`, Lines 182-196
 - `multiplayer_server/fns/utils.php`:
   - `function get_banned_ip($ip)`, Lines 7

[2018-05-01 12:47] jacob-grahn commented on #458
That all looks good to me!

[2018-05-01 16:04] bls1999 commented on #458
I'll call it… organipocalypse! :joy:

[2018-05-01 17:52] famelegend1 opened #459 "Future security ideas"
I'd like to throw some new ideas out there now that I'm a contributor to this repo

1) Check where parts are being awarded from -- confirms that parts are being earned legitimately. for example, there are accounts with arti from 2013 that aren't legit, i don't believe this has been patched entirely

2) Check source of guild tokens -- i can see my recent pull being exploited if someone is able to l

[2018-05-01 18:16] bls1999 commented on #459
With the way that PR2 saves data, your first idea would require a complete overhaul of the saving system.  It sounds good in theory, but I don't really think it's worth it when we've patched the known part exploits.

Guild tokens live in the `rank_token_rentals` table in the PR2 database.  We could definitely add a maximum of 21 to that php side and db side.

The EXP sanity checks sound great!  I'

[2018-05-01 19:00] aaaaaa123456789 commented on #459
10 seconds isn't that short; there are levels that can be finished in less
than that.

On Tue, 1 May 2018 15:16 Ben, <notifications@github.com> wrote:

[2018-05-01 19:00] famelegend1 commented on #459
for the first one, can't you just check the request method of earning parts? it doesn't seem that hard. for example parts should only be earned from after winning race or through contest owner / admins.

[2018-05-01 19:03] famelegend1 commented on #459
@aaaaaa123456789 something like 2 or 3 seconds would work IMO

[2018-05-01 19:16] RealShadowZ commented on #459
This is useless. There's no real issue right now so idk why you guys are listening to him

[2018-05-01 19:33] aaaaaa123456789 commented on #459
Honestly, I'd consider a "this is useless" comment from @RealShadowZ as an endorsement by now; we all know his intentions...

[2018-05-01 19:35] bls1999 commented on #459
@RealShadowZ It's actually very useful to prevent future exploits.  Conversely, you haven't said or done one useful thing on this entire repo.  Delete your account and crawl back into the hole from which you came.

[2018-05-02 00:29] bls1999 commented on #454
@EternalUF it's still pulling from the defunct FAH db because the changes from today's pulls haven't been merged.  There was an issue with underscores (AGAIN), so I made a pull (#461) to fix that.

[2018-05-02 03:01] famelegend1 commented on #387
so if i get this right, the problem is that you're running through thousands and thousands of accounts, some  with thousands of logins itself.

i suggest you guys create a range from which to search from. For example, you could search in a max range of 100 most recent logins, entries 100-200 in the database specifically,   etc. this should relieve stress on db

[2018-05-02 03:02] bls1999 commented on #387
@famelegend1 @aaaaaa123456789's fix should work.

[2018-05-02 06:08] bls1999 opened #462 "users_select_top"
@jacob-grahn

Could you do me a favor and run this database query, and then let me know how long it took?  I'm trying to see if this is a viable alternative to the current `users_select_top` function we have now.

[code]

I'm thinking that the limit would prevent the db from overloading itself.  The query worked fine on my localhost, but I can't test query times against the insane amount of data y

[2018-05-02 07:39] bls1999 opened #465 "[Quick Fix] ATB"
Running the weekly cron job should fix the current ATB mess. It's been a mess for about a month and people have been really annoyed; could you run it manually?

[2018-05-02 11:05] EternalUF opened #466 "Rank tokens aren’t separate"
The pr2 staff guild has a rented rank token. So I have 5 tokens from FAH and that one extra token. I’m getting “Too many tokens, please use another account”

[2018-05-02 11:52] EternalUF opened #467 "Admin tools"
Admins tools are rip

[2018-05-02 13:06] bls1999 commented on #467
#464 fixes

[2018-05-02 15:32] jacob-grahn opened #468 "Server Upgrade"
In glorious PR2 tradition, the server is undergoing a DDoS. I'm going to upgrade to a larger server, but it will cause a wee bit of downtime.

[2018-05-02 15:45] #468 closed

[2018-05-02 17:29] famelegend1 commented on #467
like playing whack a mole against pr2 queries

[2018-05-02 20:59] famelegend1 commented on #285
I implemented this idea in my recent pull request :)

[2018-05-02 22:41] bls1999 commented on #285
^ @famelegend1's fix I think will solve this problem.

[2018-05-02 23:07] bls1999 commented on #465
thanks!!

[2018-05-02 23:07] #465 closed

[2018-05-03 20:26] bls1999 opened #469 "New levels automatically save with no song"
This is more of a note to self than anything else.

[2018-05-04 19:51] EternalUF commented on #466
Still an issue

[2018-05-04 19:52] #467 closed

[2018-05-05 02:49] bls1999 commented on #466
I just moved out of my college dorm today for the summer.  I'm very very tired, so I'll look at this tomorrow.

[2018-05-05 23:58] jacob-grahn commented on #466
Did splitting up the rank token check here not fix the problem? https://github.com/jacob-grahn/platform-racing-2-server/blob/7ee614ef9a4db37e24eface75c4af7ec49d57922/http_server/www/login.php#L181

[2018-05-06 00:01] famelegend1 commented on #466
it doesnt seem to distinguish actual f@h rank tokens from guild tokens yet. im not sure exactly why though.

[2018-05-06 00:25] bls1999 commented on #466
@jacob-grahn I made a boo-boo and included `$rt_used` in that check. It should be fixed in #471.

[2018-05-06 09:09] LP-PR2 commented on #469
Because everyone listens to the pr2 music

[2018-05-06 16:17] bls1999 commented on #469
#471

[2018-05-06 16:17] #469 closed

[2018-05-06 23:14] #466 closed

[2018-05-07 16:03] isokissa3 commented on #462
The query is still going to look thru every row in all tables, the most proper way to do this would be cache the results for like 15mins and regenerate when it has expired

Also assuming that all those tables are simple and can be held in memory easily providing fast read speeds

[2018-05-08 16:23] Stxtics opened #474 "/hh command does not work correctly."
![image](https://user-images.githubusercontent.com/18367146/39769493-48591898-52e4-11e8-8bba-dba8cc9c3b34.png)
This screenshot was took 19 minutes into the happy hour and it says there is -94214 seconds left on the happy hour which is -1570.2333 minutes.
(Happy hours still do last an hour if anyone was confused)

Also seeing as now there is only 5 non guild servers instead of 9 that can have a hap

[2018-05-08 16:57] Dex472 commented on #447
The links would exist in https://github.com/jacob-grahn/platform-racing-2-server/pull/476

[2018-05-08 19:07] famelegend1 opened #477 "rodent precautionary measures?"
what else can we do? we've already made an extra sanity check that checks hat bonus, rank used in race, amount of tokens, but i feel we are still missing stuff... Thoughts? @bls1999 @BrokenBulb78 @Dex472

[2018-05-08 19:29] Dex472 commented on #477
I don't think this is the place to fight over things.

[2018-05-08 21:44] bls1999 commented on #477
I'd say just going through all of the DB tables and making sure the methods used to communicate with those tables are secure.

[2018-05-09 03:46] famelegend1 commented on #477
@bls1999 maybe checking request method and making sure its from post or from a trusted ref?

[2018-05-10 20:39] famelegend1 commented on #477
@bls1999 maybe one thing for staff accounts, when they are logging in from a new IP, they have to click a verification link in order to authorize their token in their email? what do you think? could see this being a boost in security.

@aaaaaa123456789 @jacob-grahn thoughts?

[2018-05-10 20:57] Altex1 commented on #477
@famelegend1 That's pretty good idea, that would prevent keylogging mod/admin accounts aswell.

[2018-05-11 09:31] bls1999 commented on #474
#479

[2018-05-11 12:59] jacob-grahn commented on #454
Is this fixed?

[2018-05-11 13:08] jacob-grahn commented on #387
I'll be honest, I still think we should delete login ips older than a month. Not for performance reasons, more for privacy reasons. It was never my intention to record every login ever, which is why the table is called `recent_logins`... I apparently just forgot to ever set up a cron to delete them.

I understand that this will make it harder help with account recoveries, but I wonder if it's wort

[2018-05-11 13:59] EternalUF commented on #387
The answer still is typically no, we don’t recover stolen account due to scamming, account sharing, and anything else along those lines. The disclaimer that the security of your account is no one other than your own is explicitly stated in the Pr2 Rules list.

98% of the account recovered through AAM are accounts that have not been logged in since 2014 or earlier, which brings me to my next point.

[2018-05-11 14:01] EternalUF commented on #454
I’ve been hearing some mixed reviews. I would say _yes_, but let me ask around for a bit to confirm!

[2018-05-11 14:03] Stxtics commented on #474
Alright and this was taken 3 minute into a happy hour.
![image](https://user-images.githubusercontent.com/18367146/39928167-8303d114-552c-11e8-94e8-b3ed55b8315c.png)

[2018-05-11 19:56] Stxtics opened #481 "Fred and Isabel down"
Since the most recent pull requests were added Fred and Isabel have been down.

[2018-05-11 20:38] bls1999 commented on #387
The privacy factor is a good point, but I feel obligated to point out that we can already see all of this information in the `player_deep_logins.php` script and the `player_deep_info.php` script.

I strongly believe that truncating the `recent_logins` table would be detrimental to our ability to recover old accounts for users who lost them.  We do our very best to allow users to reclaim their acco

[2018-05-11 20:42] bls1999 commented on #481
I know what this is about. Since I moved the `/multiplayer_server/manage/` folder to `/common/`, the cron to restart the servers that are down is messed up.  I can add that to minute.php.

[2018-05-12 06:54] isokissa3 commented on #477
Or you could use 2FA which is less anonying in my opinion, email sometimes likes to take a while to pop up etc.

This could be achieved by entering your 2FA in the username in special format, for example isokissa3@333333 or more anonying way; enter username and pass first and after that it requests the 2FA code to be entered by keeping track of the state in the server

[2018-05-13 06:30] bls1999 commented on #481
#483 is a temporary fix while I continue the organipocalypse.

[2018-05-14 19:21] EternalUF opened #485 "Servers down"
All server besides Derron is currently down, I believe it has sometime to do with #481. Once there is an all server restart sometime tomorrow (Tuesday) all servers will be down :/

[2018-05-15 03:02] FearlessFlare commented on #477
This is some laughable ass kissing from @famelegend1. You're creating BS problems in your daydreams in hope of attention on here. There's never been a speck close to a problem in your pull requests. All you've contributed to this repository is useless if statements that are rendered useless by the rest of this server code. Given that you and these staff clowns just want attention, there's no wonde

[2018-05-15 03:05] aaaaaa123456789 commented on #477
That many insults in a message? Come on, you can post a useless rant with more class. Let's try again, from... hm, "rendered useless by the rest of this server code."

[2018-05-15 03:08] famelegend1 commented on #477
"All you've contributed to this repository is useless if statements" -- well i prevented you rodents from logging into your token-stashed accounts, so it's not useless. pls stop daydreaming

[2018-05-15 03:09] bls1999 commented on #477
@FearlessFlare you invalidate your arguments by:
 - Creating new GitHub accounts just to attack us
 - Using ad hominem attacks instead of explaining your side in a civilized manner
 - Not offering any helpful alternative advice to what you claim is an issue

I'll tell you what I told you in #484: If you don't have anything productive to contribute to the conversation, please refrain from posting.

[2018-05-15 03:18] BrokenBulb78 commented on #477
Ayy that's a great idea! @famelegend1

[2018-05-15 03:31] famelegend1 commented on #477
honestly @aaaaaa123456789 @bls1999 i wonder if you can even classify this stuff as insults. it made me laugh so hard that i had to catch my breath, wbu guys

[2018-05-15 16:30] #481 closed

[2018-05-15 19:45] #485 closed

[2018-05-15 21:59] Stxtics opened #486 "Terms of use links"
The links on this page do not work http://pr2hub.com/terms_of_use.php

[2018-05-15 22:01] Stxtics commented on #474
Ok I think this command seems to only work in the last 30 minutes of a happy hour. I did it earlier today and it said 35 minutes left, however I just did it now after a happy hour just started and it shows this
![image](https://user-images.githubusercontent.com/18367146/40085856-e19be7ce-5893-11e8-9dc9-433c41128388.png)

[2018-05-15 22:52] bls1999 commented on #474
I always use it right after activating to make sure it worked, and it never tells me there's an issue.  Maybe it has to do with manually-activated happy hours as opposed to random_hour.  I'll do some investigating.

[2018-05-15 22:53] bls1999 commented on #486
LMAO, my bad!  I think organipocalypse pt. 3 (#484) fixes that.  I'll make sure when I'm home.

[2018-05-16 04:15] famelegend1 commented on #387
Positives:

- Recovering lost accounts (gives plentiful material to verify ownership from)
- Finding sketchy players/ban evaders
- Essentially an even more detailed mod IP search tool, which is already very useful
- Can link proxy logins together

Negatives:

- Privacy is a question mark
- The argument that an account should be the owner's sole responsibility
- Searches through a lot of items; has

[2018-05-16 06:50] bls1999 commented on #387
@famelegend1 Regarding the negatives:
 - Privacy is only a question mark with faulty security. We've patched all of the known security loopholes in the server code (only getting stronger with #484) and beefed up our staff verification and account security within the team.
 - While we do have a regular policy that the account is the owner's responsibility, we recover accounts for users who lost the

[2018-05-17 00:02] FearlessFlare commented on #387
No one impersonated anyone though. This is all your imagination and part of your vendetta against people who are simply able to do stuff that you can't do at the moment. You're going to have to accept that, I can't help someone like you with that.

[2018-05-17 00:05] aaaaaa123456789 commented on #387
Huh? Did you leave your reading comprehension skills at home? I've been helping out here...

[2018-05-17 00:07] famelegend1 commented on #387
@FearlessFlare well i added the real intrepid on discord, so you're going to have to accept that. i can't help someone like you (if you're even a person at all, you might as well be an "it") with that.

[2018-05-17 00:09] bls1999 commented on #387
@FearlessFlare said:

Not really sure what you think you can do and I can't, but I'd love to hear that.

I'm really getting sick of the compulsive lying and the constant attempts to invalidate our response to your offenses. The IPs speak for themselves. Your act is not in the slightest bit believable.

Additionally, I find it VERY interesting that "Firefight" and "Intrepid" just so happened to COM

[2018-05-17 00:55] GladiatorSlash opened #487 "Pr2 Administration Issue"
Hello. Recently it seems as if Pr2 administration has gone into decline. It seems now they are pine tree stumps waiting to ban players of Pr2 without reason. The point of this issue is to raise awareness to Jiggmin about situation.

With Bls assuming head admin position of Pr2, he seems to be faulty in some areas. It is recurring problem that he bans players for being alt of adak when they are not

[2018-05-17 00:57] famelegend1 commented on #487
![image](https://user-images.githubusercontent.com/38123218/40151067-85399036-5932-11e8-8bf7-c75047e49290.png)

[2018-05-18 21:45] Stxtics commented on #486
Fixed

[2018-05-18 21:45] #486 closed

[2018-05-18 23:26] OneTwoThreeTwoOne opened #488 "I Can't Even Login"
I'm logging in and getting this error for no reason.
![image](https://user-images.githubusercontent.com/38107924/40261793-981a5196-5ab7-11e8-9547-ce48066a7188.png)]
How do I have too many rank tokens? Are any other people getting this?

[2018-05-18 23:29] famelegend1 commented on #488
![image](https://user-images.githubusercontent.com/38123218/40261919-7d9910cc-5ab8-11e8-83e2-81a855b03ef6.png)

"Joined 5 minutes ago"
please can someone control the rodent birth rates? it's getting out of control

[2018-05-18 23:31] bls1999 commented on #488
What account are you trying to log in with?

[2018-05-18 23:37] OneTwoThreeTwoOne commented on #488
Just my PR2 account. Why is this happening? I just want to play. How are three rank tokens too many?

[2018-05-18 23:45] bls1999 commented on #488
In order to diagnose the problem, I need to know all of the account's information. I can't help you if I don't know what account you're using.

[2018-05-19 03:03] Stardox opened #489 "Malicious pull requests, framing, cringe, drama, etc. etc."
\*cough\* \*cough\* Hello dear readers,

I am creating this thread to give some more insight into recent events from my own point of view.

Yes yes, I know this is used to discuss project related issues however I am posting it here anyways because this is pretty much the only communication channel which is still taken seriously and is also closest to Jiggmin himself.

**1.) Short summary of recent

[2018-05-19 10:54] Stxtics commented on #489
I usually don't bother getting involved in these but I will anyway.
1. After looking through the ask a mod thread of your ban appeal I can see that no staff member acted in the way that you quoted and you were even told you could appeal the ban again after 6 months from the original ban date, so almost like a second chance.
2. Regarding both those bans done by me. In the first one after you messag

[2018-05-19 16:03] EternalUF opened #490 "Folding at Home pt. 10002383045834905"
FAH seems to be acting up AGAIN, darn tabs (FAH).

[2018-05-19 16:45] firefightin opened #491 "[Senseless PR2 Bans] Appeal Ignored..."
It's been two months of drama, framing fools, impersonators, and so on. It's time for my voice to be heard. This is meant to raise awareness about the unfair ban that I received two months ago.

Alright, so I got my old friend back into the game, but due to some issues regarding password hashing and the fact that forgot password wasn't working for him, he had to get his accounts back. I helped him

[2018-05-19 17:01] famelegend1 commented on #491
"Stop framing me you fucking asshole. It can't be any more evident that you've been trying to get me banned. You have absolutely zero real proof, and why haven't any of the staff members provided me with any evidence? Because you probably requested to remain anonymous so your ass full of lies wouldn't get caught. Why am I being associated with [Real]? Oh, I know, you're making this up so you can g

[2018-05-19 17:06] famelegend1 commented on #489
"So many impersonators, geez
Nobody seems to believe I'm innocent, and it doesn't take much for a framer to convince mods to ban people off of suspicion
I'm out, PR2 has the most foolish staff team I've ever seen now"

[2018-05-19 20:38] bls1999 commented on #491
I've personally spoken to both the real Firefight and Intrepid, so you can drop the act.

[2018-05-20 02:42] bls1999 commented on #490
My bet is the minute CRON isn't working properly. Newest and server statuses apparently aren't updating either. I'll look into what could be causing it.

[2018-05-20 02:47] bls1999 commented on #489
This is not the manner in which I conveyed the message to you, and I don't appreciate being misrepresented as being rude to you at any point here.

While we've given you a decision already (and we're not required to reopen the investigation), I'll speak with some of the other staff again and let you know what we decide. I'm not promising that this will yield anything.

[2018-05-20 04:00] Stardox commented on #489
@bls1999, thanks. I would just like to point out once again that I have been playing this game for 8 years and I really had no motivation to start stealing accounts and submitting shitty pull requests after all this time.

Also as I mentioned in my post, I am willing to work with Jiggy to de-rank my botted accounts and get rebanned, but with proper ban reason. I just want the ass-pull ban to be de

[2018-05-20 04:26] ShakeJunt01 commented on #491
that made me cry, so inspiring

[2018-05-20 04:37] famelegend1 opened #492 "forgot password not working"
*secretly trying to make malicious pull request*

if you enter any email you'll get this error:

Error: "" is not a valid email address.

does this have to do with the removal of die()? but it also seems like this line was removed:

line 15: $email = filter_var($_POST['email'], FILTER_SANITIZE_EMAIL);

[2018-05-20 04:38] bls1999 commented on #492
`valid_email()` already checks with `filter_var()`, so that check was redundant. Let me check what's being passed to the script.

[2018-05-20 04:50] famelegend1 commented on #492
yeah i think it might have to do with die() but who knows.

[2018-05-20 06:44] bls1999 commented on #492
Fixed in #493

[2018-05-20 06:49] #492 closed

[2018-05-20 20:46] BrokenBulb78 opened #494 "[Suggestion] Mute command"
Muting players would be a great feature for PR2! For situations in chat, the player will get muted, but for situations like hacking, etc. the player will get banned instead. I clearly have no idea how can this be added though. :joy: @bls1999 @jacob-grahn

[2018-05-20 20:47] bls1999 commented on #494
Hey Anton, can you post this in the PR2 Suggestions section on JV2?

[2018-05-20 20:53] famelegend1 commented on #494
i guess you could reuse some of the code that is used to warn people, right?

[2018-05-20 21:08] BrokenBulb78 commented on #494
Yeah, you're right. My bad!

[2018-05-20 21:08] #494 closed

[2018-05-22 16:02] #489 closed

[2018-05-22 16:02] #477 closed

[2018-05-23 06:13] famelegend1 commented on #490
the issue regarding fah is different every time, legit

[2018-05-23 10:48] EternalUF opened #496 "Server issues"
All servers except Carina and Grayson are down.. Not sure why. It says there are people on, but the minute CRON and all of the other CRONS are messed up so the server status isn’t updating

[2018-05-23 12:33] bls1999 commented on #496
I tested everything and it worked fine. @jacob-grahn are my changes pushed? Is there an error log on attempted startup or for any of the cron files? Did you update the path to the cron jobs on your server (I.e. not http_server/cron anymore)?

[2018-05-23 16:03] EternalUF commented on #496
Indeed it has, thank you!!! @jacob-grahn

[2018-05-23 16:03] #496 closed

[2018-05-23 16:27] bls1999 commented on #496
👍

[2018-05-23 19:35] bls1999 commented on #474
@Stxtics is this still happening?

[2018-05-23 19:37] bls1999 commented on #490
It fixed

[2018-05-24 00:46] bls1999 commented on #458
The socket server portion of the organipocalypse is done!

[2018-05-24 00:46] #458 closed

[2018-05-24 00:48] bls1999 commented on #462
@jacob-grahn

[2018-05-24 02:20] EternalUF commented on #490
Woooo!

[2018-05-24 02:20] #490 closed

[2018-05-24 12:25] Stxtics commented on #474
I havent tried yet but i will when i next can

[2018-05-24 17:10] Stxtics commented on #474
![image](https://user-images.githubusercontent.com/18367146/40500762-b16e57f8-5f7d-11e8-8fb1-7aea56969e28.png)

still happening

[2018-05-25 14:34] Stxtics opened #499 "PMs keep giving notification"
When you receive a PM it shows you have a new one but you can't see the PM

[2018-05-25 14:37] bls1999 commented on #499
The PM notification is just triggering every minute.  I'll look into what's causing this.

[2018-05-25 15:33] Stxtics commented on #499
Oh okay.

[2018-05-26 16:31] Stxtics commented on #499
This seems to have fixed itself, going to close this.

[2018-05-26 16:32] #499 closed

[2018-06-13 17:32] #474 closed

[2018-06-15 14:19] BrokenBulb78 commented on #462
@jacob-grahn

[2018-07-03 02:59] famelegend1 opened #508 "remove exploited accounts"
@bls1999 @aaaaaa123456789

posting this with regards to szr situation. current knowledge:

1) he has no objection to this
2) apparently there are many of these accounts

apparently there's a list he sent out? but are we in a position to trust him? jiggmin is also inactive. additionally he has no objection to making a pull request (even suggested it on discord), but people like me want this done so

[2018-07-03 03:01] aaaaaa123456789 commented on #508
Huh?

[2018-07-03 03:04] bls1999 commented on #508
I can make a script that will delete (or permanently ban) every account with more than 5 rank tokens.

[2018-07-03 03:18] famelegend1 commented on #508
we have these options atm:

1) delete -> should probably be tested, least margin for error.
2) ban -> may spam ban log though, but it shows which accounts the script dealt with.
3) wipe -> most work involved however.
4) reset rank/tokens to 0 -> maybe this would suffice? but wont remove the parts from the account. easier to do though i'd imagine.

wiping would include removing the parts and resett

[2018-07-03 03:31] aaaaaa123456789 commented on #508
DELETE queries and SELECT queries look almost identical. Run a SELECT to see (and log) which accounts will be affected, then DELETE. Put the log up here so anyone can validate that their account wasn't affected.

[2018-07-03 03:32] bls1999 commented on #508
@famelegend1 this is true re: backup of the database.

A few notes about some of the things you said:
 - We can record the accounts deleted with the script in some kind of log.txt.
 - Wiping is way more difficult than deleting in such a large quantity.
 - Resetting the rank or tokens only suffices if that's the only thing he did

As ax6 said, running SELECT then DELETE would probably be the best c

[2018-07-03 04:46] Kyurem7899 commented on #508
Deleting the accounts is the most logical option, provided that fail-safe measures are put into place. If the exploit wasn't patched in January, I could simply use it to remove the rank tokens and parts from the accounts, but that's not happening.

Zornified / SZR

[2018-07-09 04:22] Relokos commented on #508
hi can't you just check to see the accounts with 5+ rank tokens and accounts with mostly all sets? if it is possible then that would be the easiest solution imo

[2018-07-09 11:50] Stxtics commented on #508
DROP DATABASE pr2

[2018-07-10 18:00] Relokos commented on #508
oh ok

[2018-07-11 05:28] bls1999 opened #512 "Backups not saving level modifications"
The problem is 99.99% in `upload_level.php`. Writing this as a note to self, unless someone else wants to get it first.

[2018-07-17 18:00] bls1999 opened #515 "IMPORTANT: Expired SSL Certificate"
@jacob-grahn it expired yesterday. As a result, everything PR2-related in the client doesn't work.

[2018-07-18 06:11] bls1999 commented on #515
Weeeeeee

[2018-07-18 06:11] #515 closed

[2018-07-18 23:46] EternalUF opened #516 "URGENT: Pr2 is stuck at "Logging in...""
🤷‍♀️

[2018-07-19 00:39] EternalUF commented on #516
We seem to be back boisssss

[2018-07-19 00:39] #516 closed

[2018-08-23 11:58] jacob-grahn commented on #508
![screenshot from 2018-08-23 07-55-49](https://user-images.githubusercontent.com/4753008/44524108-43fb6480-a6aa-11e8-9e49-e7f50db38453.png)

Sorry about the screenshot, I was using a web console that can't copy and paste...

[2018-08-23 12:11] EternalUF commented on #508
What should we do with these? @jacob-grahn Put their rank tokens back to their respected value? Assuming all of these don't possess guild tokens.

[2018-08-23 16:36] bls1999 commented on #508
I'll do some sleuthing later with regards to those accounts. Thanks so much for the post @jacob-grahn! \0/

[2018-08-24 06:37] famelegend1 commented on #508
wouldnt you want to look at available tokens?

[2018-08-24 07:47] bls1999 commented on #508
@jacob-grahn I think you could just run this query on the database and be fine:

[code]

This is a non-destructive query that would just make users reuse their available tokens when they log in. It would effectively rid the database of the exploits these accounts used (back in the day) while preserving legitimate data along the way.

[2018-09-03 02:03] bls1999 commented on #512
I think this isn't a thing anymore. Maybe it was a one-off thing. ¯\_(ツ)_/¯

[2018-09-03 02:03] #512 closed

[2018-09-03 02:05] bls1999 commented on #446
This isn't really that important ig `¯\_(ツ)_/¯`

[2018-09-03 02:05] #446 closed

[2018-09-03 02:05] bls1999 commented on #358
This has been fixed for a while. 🎉

[2018-09-03 02:05] #358 closed

[2018-09-03 02:06] bls1999 commented on #363
Making a new one

[2018-09-03 02:06] #363 closed

[2018-09-03 02:14] bls1999 commented on #285
@famelegend1 @aaaaaa123456789 revisiting this. What if we added a variable to the Player class like `$player->last_exp` which would hold the timestamp of the last time the user gained EXP on that login? So in `Game.php`, it would look something like this:
[code]
I think on login it could be set to the login time as well.

This coupled with the 5 logins per minute limit would effectively stop botti

[2018-09-03 02:25] bls1999 commented on #285
@aaaaaa123456789 you ninja'd me right as I was fixing it, lol

The idea is that if you're a human and gaining EXP properly, you won't be able to go into a level hit finish, and repeat all in however many seconds we determine to be appropriate.

[2018-09-03 02:27] aaaaaa123456789 commented on #285
Then a bot would just implement that delay.

[2018-09-03 02:27] aaaaaa123456789 commented on #285
Also, you still have the condition backwards.

[2018-09-03 02:29] bls1999 commented on #285
@aaaaaa123456789 true, but isn't the goal here to limit the usefulness of bots to the point where it doesn't make sense (or doesn't give an advantage) to use them over normal human gameplay anymore?

Also, I think I fixed the condition before you posted that second comment.

[2018-09-03 02:33] famelegend1 commented on #285
yeah i was confused at first because that condition would always be true, but i guess you fixed it

[2018-09-03 02:34] famelegend1 commented on #285
@aaaaaa123456789 the point is to fix the overpowered bots like ones that firebird used. it wont stop all bots per se, but the most powerful ones for sure

[2018-09-03 02:44] aaaaaa123456789 commented on #285
In that case, it would work.

[2018-09-03 04:39] bls1999 commented on #285
#524

[2018-09-03 10:05] Stxtics commented on #285
Unless I'm missing something I don't really see the point in adding that. You don't get 5 EXP from already having a part so there is no need to worry about that. And if you finish a level in under 1 second you get 0 exp. If you finish a level in 2 seconds you get 2 EXP (with EXP hat) as shown here https://i.imgur.com/j97dbL2.png which is still only 30 EXP in a minute. I'm not saying it shouldn't b

[2018-09-03 14:24] #387 closed, assigned to nobody

[2018-09-03 14:26] EternalUF commented on #250
:(

[2018-09-03 18:39] bls1999 opened #525 "Quick DB Change"
Hey @jacob-grahn, could you make this small change please?

[code]

This should significantly decrease database load when calling data from that table.

[2018-09-22 12:36] EternalUF opened #527 "Pr2’s Mail Server"
Seems like this is down.. Breaking Forgot Password, changing email, changing guild leader through bls’ php, and etc. Anything that requires a confirmation email.

[2018-10-02 10:44] fourst4r opened #530 "Can't exit level editor on guest account"
You are prevented from exiting the level editor on a guest account by the following message: `Error: Direct logins to guest accounts are not permitted. To play as a guest, click the "Play as Guest" button on the main menu.`

[2018-10-03 07:53] bls1999 commented on #527
@jacob-grahn urgent!

[2018-10-03 07:53] bls1999 commented on #530
oh crap. I'll take a look at this tomorrow. Good catch. :+1:

[2018-10-03 12:30] EternalUF commented on #527
Super duper urgent!!

[2018-10-05 00:07] bls1999 commented on #530
Should be fixed with the new additions to #524

[2018-10-05 00:08] #530 closed

[2018-10-05 14:10] BrokenBulb78 commented on #527
@jacob-grahn ultra super duper urgent!!

[2018-10-06 19:41] EternalUF commented on #527
@jacob-grahn Mega ultra super duper urgent!!

[2018-10-07 00:27] jacob-grahn commented on #527
I think this should be resolved now. Can anyone confirm?

[2018-10-07 00:28] EternalUF commented on #527
Confirmed!! Thank you so so so so much! @jacob-grahn

[2018-10-07 00:28] #527 closed

[2018-10-07 06:06] Pr2Colind opened #533 "[Urgent] VoM Issue"
Today at 10/7/2018 I went on Kong and decided to buy a 1 month private server for the guild. When trying to buy it there was a pop-up that said this; http://prntscr.com/l33zwj so I went to my PM from Kong and it says this; http://prntscr.com/l33zg7

[2018-10-18 03:57] bls1999 opened #536 "friends/ignored/recent_logins indexes"
#524 covers this briefly towards the end, but I wanted to link this here so you can figure out if it all would fit in memory. @jacob-grahn

https://stackoverflow.com/questions/11748629/how-to-figure-out-if-mysql-index-fits-entirely-in-memory

[2018-11-04 05:19] bls1999 opened #537 "Destructor functions in classes?"
I've been thinking about how we can free up some memory. It seems like marking every class as `null` using a variation of `remove()` is kind of the same as calling a destructor function, except less efficient. Thoughts about converting some of the `remove()` functions to destructors?

[2018-11-11 04:03] Pr2Colind commented on #533
Re-opening this since the VoM got broken again, will close when the issue gets fix.

[2018-11-11 17:42] bls1999 commented on #533
@PR2Colind what error do you get?

[2018-11-11 20:39] AshleyJ14 commented on #533
I'm getting the same error when trying to buy a private server. @bls1999 the error says "could not contact the game server to finalize your order" and the kreds keep refunding into the account

[2018-11-11 20:45] bls1999 commented on #533
@jacob-grahn I can't debug this because I don't know what data is sent to/from Kong. If you can post a sample of the data sent both ways, I can debug this in the future.

[2018-11-18 21:56] EternalUF commented on #533
Close this @Pr2Colind

[2018-11-19 14:12] #533 closed

[2018-12-10 10:44] bls1999 commented on #357
Gonna suggest this in a future pull. This isn't needed anymore!

[2018-12-10 10:44] #357 closed

[2019-01-20 03:37] #525 closed

[2019-01-25 21:56] #536 closed

[2019-01-25 22:02] bls1999 commented on #388
I can do this client-side

[2019-01-25 22:02] #388 closed

[2019-01-25 22:02] EternalUF commented on #250
:O

[2019-01-25 22:02] #250 closed

[2019-02-17 20:41] #508 closed

[2019-02-17 20:42] #285 closed

[2019-02-18 04:25] #448 closed

[2019-02-23 07:16] #462 closed

[2019-03-07 07:47] bls1999 commented on #409
I'm gonna go ahead and assume this ain't happening.

[2019-03-07 07:47] #409 closed

[2019-03-07 07:51] bls1999 opened #577 "Crumble blocks aren't working properly"
Don't moves broke. I'll need to restore my workspace to v153.1 and examine the process in which the game passes crumble information in that version vs. v153.2.1.

Original thread: https://jiggmin2.com/forums/showthread.php?tid=1610

[2019-03-07 07:53] bls1999 commented on #447
@Stxtics want to take this?

[2019-03-07 07:54] bls1999 commented on #372
I'll get this done in a future update. @BrokenBulb78

[2019-03-07 23:30] Stxtics commented on #447
@bls1999 I'm not that good with php so I don't think I'll be able to.

[2019-03-07 23:31] bls1999 commented on #447
@Stxtics gotcha, thanks

[2019-03-07 23:32] bls1999 commented on #447
@BrokenBulb78?

[2019-04-25 02:02] bls1999 commented on #577
yeet on that fix

[2019-04-25 02:02] #577 closed

[2019-07-09 18:20] bls1999 commented on #372
Fixed in v156'

[2019-07-09 18:20] #372 closed

[2019-07-11 04:04] #537 closed

[2019-07-21 16:19] Negbu opened #605 "Forgot Password"
Requesting a password to @msn.com, @hotmail.co.uk, and @live.com does not work.

I do not receive the password in my emails.

[2019-07-21 17:51] EternalUF commented on #605
You’ll need to make a request at Jiggmin2.com/aam.

[2019-07-21 18:01] bls1999 commented on #605
@jacob-grahn sorry to bother you, but I can't fix this-- this needs to be done in your domain registrar's control panel. Zach sent at least one and I sent two messages (January 2 w/ subj: "[Follow-Up] URGENT: Emails undeliverable to hotmail/outlook/live addresses" and May 13 w/ subj: "URL Redirect jiggmin.com and pr2hub.com MX Records") regarding this issue. The second one gives more useful inform

[2019-07-30 05:04] jacob-grahn commented on #605
Ok, I updated the email settings to go through pr2hub.com instead of platformracing.com. In theory, hotmail will be happier with us now

[2019-07-30 11:51] bls1999 commented on #605
Hey @jacob-grahn, thanks for doing this. Unfortunately, that didn't work. I forwarded one of my emails on the subject back to you so you could have all the details.

[2019-07-30 21:37] bls1999 commented on #605
Hey @jacob-grahn, thanks for doing this. Unfortunately, that didn't work. I forwarded one of my emails on the subject back to you so you could have all the details readily accessible.

[2019-08-12 13:45] fourst4r opened #606 "Recovering Lost Levels"
A little bit ago some inactive accounts were deleted, some of which had beloved levels to their name.  Fortunately the deleted accounts' levels remain on the server, but they are only accessible through direct link, which requires you to know their level id.

I suggest a solution to allow a user to access the lost levels of a deleted account either by:
- inheriting the levels by remaking the delet

[2019-08-12 20:58] bls1999 commented on #606
This is potentially a huge problem. I'm concerned that the script is not working as it should be if it's deleting accounts with more than 1000 cumulative plays across all of its levels.

I can manually recreate the accounts and recover the levels if you have the level IDs, but this brings up another issue. IMO, the way that levels are just orphaned when an account is deleted is also very sloppy. T

[2019-11-15 15:44] bls1999 commented on #605
This is fixed! Thanks again, @jacob-grahn!!

[2019-11-15 15:44] #605 closed

[2019-11-15 15:45] bls1999 commented on #447
Something I'm working on might accomplish this goal! Stay tuned.

[2019-11-18 20:23] bls1999 commented on #447
I added places to the leaderboard. Easy addition!

[2020-01-09 08:00] famelegend1 opened #627 "making an exp limit per day?"
to cut down on botting, i thought about making an exp limit per day of 2 million. it seems logical since it seems impossible to get over that amount even with max HHs and high ranks.

i can't find a variable in game.php that tracks the total amount of exp that someone gets in a day. any ideas here? ty.

[2020-01-09 10:05] bls1999 commented on #627
Player.php has the `exp_today` property. I wouldn't have a problem capping that at something a little less than the impossible amount per day to try to limit the advantages gained by exp farming.

[2020-02-11 04:31] #627 closed

[2020-04-15 07:01] HopeKobayashi opened #644 "Help me recovering my account, please"
Hi, as the title says I lost my account.
I used to play this game almost 11-10 years ago and my nickname was "alan517", I tried to login but it says that my account doesn't exist.

I've created a new account and searched alan517, and found my levels
https://ibb.co/xj7Q6rg

There is the profile

If you want something to prove that thats my account, I still remember the email, I'm not sure if I reme

[2020-04-15 10:57] EternalUF commented on #644
Howdy! We are currently channeling account recovery requests through Jiggmin2.com/aam if you could please head over there I’d be able to assist.

[2020-04-15 12:19] bls1999 commented on #644
Please visit the [Ask a Mod forum](https://jiggmin2.com/aam) on [Jiggmin's Village](https://jiggmin2.com/forums) to request an account recovery.

[2020-04-15 12:19] #644 closed

[2020-12-20 01:02] ankarpy opened #693 "Missing loader (files/platform-racing-2-loader-v14.swf)"
Hello!

I've followed the instructions and I've managed to get everything running -except one thing:

The loader file can not be found (It doesn't get downloaded)

at
**files/platform-racing-2-loader-v14.swf**

What can I do? Where can I download a loader that points to localhost?

Thank you in advance,
Andrew

[2021-02-10 06:15] SmileJakoby opened #707 "Lack of information"
Hi, I know this might not be the best use of the issue board, but I'm terribly confused about what this is. How do you play using this platform racing 2 server? Do you host it yourself, or is there some website I need to go to?

[2021-02-10 16:53] bls1999 commented on #707
You can download the game client for your computer's OS at this link: https://jiggmin2.com/download-pr2

[2021-02-10 16:56] bls1999 commented on #693
One currently doesn't exist, unfortunately. You'll have to redirect your internet traffic through your development environment if you want to test.

[2021-02-10 16:57] #707 closed

[2021-05-16 17:43] ghostIike commented on #606
There's a few issues with this proposed fix, one being that the username of the level author isn't stored in the level text file itself but stored as a field in some other user table which is deleted when the user it belongs to is deleted. The level text files only store a portion of the complete data pertaining to a particular level (missing plays, rating etc.) & I believe this other missing data

[2021-12-14 20:01] instabledesign commented on #693
Hi, even if i proxy the http/https traffic and even socket connexion
i have a salt mismatch
[code]
can you build a client with a local salt
in order to register local player and upload some level in order to have data in database and purpose some enhancement

[2022-01-03 22:05] fourst4r opened #731 "error running liquibase for the first time"
this prevents the database from being set up properly
[code]

[2022-06-17 02:52] #731 closed